h1{
  font-size: 30px;
  color: #FF0000;
  margin-left: 500px;
}

input{
  display: block;
  position: relative;
  background-color: #EDEDED;
  color: #FF0000;
  margin-left: 200px;
  border-radius: 2px;
}

label{
  margin-left: 100px;
}

fieldset{
  border-color: #FF0000;
  border-width: 4px;
  border-style: double;

}
