.page{
  width: 750px;
  margin: auto;
  font-size: 14px;
  font-family: calibri;
  background-color: #EDEDED;
}

fieldset{
  width: 100px;
  margin-left: 300px;
}
h4
{
  border-bottom: 3px solid;
}

p{
  margin-left: 300px;
}
